<div class="input-group container">
  <input type="text" class="form-control" [(ngModel)]="taskForm.title" aria-label="Title"><br>
  <textarea type="text" class="form-control" [(ngModel)]="taskForm.description" aria-label="Description"></textarea>
  <button class="btn" (click)="saveTask()">Save</button>
</div>

<div class="row container-fluid mx-0 px-3" *ngIf="sharedTasks">
  <div *ngFor="let sharedTask of sharedTasks" class="col-12 col-md-6 p-1">
    <p><b>{{sharedTask.sender.username}}</b> has shared task with you:</p>
    <p>
      <b>{{sharedTask.task.title}}</b>
    </p>
    <p>
      <button class="btn btn-outline-success" (click)="acceptTask(sharedTask.task.id)">
        Accept <fa-icon [icon]="icons.faCheck"></fa-icon>
      </button>
      <button class="ml-1 btn btn-outline-danger" (click)="declineTask(sharedTask.task.id)">
        Decline <fa-icon [icon]="icons.faTimes"></fa-icon>
      </button>
    </p>
  </div>
</div>
<div class="row make-columns container-fluid mx-0 mt-2 px-3" *ngIf="tasks">
  <div *ngFor="let task of tasks" class="col-12 col-md-4 p-0 h-auto">
    <div class="task-buttons">
      <button class="ml-1 btn btn-outline-secondary edit-task-button" (click)="null">
        <fa-icon [icon]="icons.faEdit"></fa-icon>
      </button>
      <button class="ml-1 btn btn-outline-danger delete-task-button" (click)="deleteTask(task.id)">
        <fa-icon [icon]="icons.faTimes"></fa-icon>
      </button>
    </div>
    <div class="m-1 py-1 px-2 border border-secondary rounded">
      <p class="task-title border-bottom border-secondary text-dark">{{task.title}}</p>
      <p class="description p-1 bg-light text-secondary">{{task.description}}</p>
      <p class="text-muted task-last-edit">
        <span class="text-primary task-author">{{task.author.username}}</span>,
        last edit: {{task.dateTime | date:'short'}}
      </p>
      <button *ngIf="!task.share" class="btn btn-outline-primary mt-1 py-0 px-2" (click)="task.share = true">
        Share <fa-icon [icon]="icons.faShare"></fa-icon>
      </button>
      <div *ngIf="task.share" class="px-2 border-top border-secondary pt-2">
        <input type="email" class="form-control" aria-label="share to" #emailToShare placeholder="Type email...">
        <button class="btn btn-outline-primary py-0 px-2" (click)="shareTask(task.id, emailToShare.value)">
          Share
        </button>
        <button class="btn btn-link text-secondary" (click)="task.share = false">
          Cancel
        </button>
      </div>

    </div>
  </div>
</div>
