.task-buttons {
  position: absolute;
  top: 11px;
  right: 11px;
}

.delete-task-button {
  padding: 2px 8px;
  margin-right: 2px;
}

.edit-task-button {
  padding: 2px 8px;
}

.task-title {
   color: #343a40;
   font-size: 16pt;
 }

p.task-title {
  margin-right: 75px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

p.task-title-holder {
  margin: 0;
  padding: 0 75px 0 0;
}

input.task-title {
  padding: 0;
  border: none;
  border-bottom: 1px solid #6c757d !important;
  width: 100%;
}

input.task-title:focus, input.task-title:active {
  box-shadow: none;
  outline: none;
}

.description {
  background-color: lightgray;
}

p.description {
  white-space: pre-wrap;
  margin-left: -5px !important;
  margin-right: -5px !important;
  margin-bottom: 5px !important;
}

textarea.description {
  resize: none;
  overflow: hidden;
  min-height: 32px;
  max-height: 320px;
}

textarea.description:focus, textarea.description:active {
  box-shadow: none;
  outline: none;
}

.task-description-holder {
  margin-left: -5px !important;
  margin-right: -5px !important;
  margin-bottom: 5px !important;
}

.task-last-edit {
  font-size: 10pt;
  margin-bottom: 0;
}

.row.make-columns {
  -moz-column-width: 19em;
  -webkit-column-width: 19em;
  -moz-column-gap: 1em;
  -webkit-column-gap:1em;
}
.row.make-columns > div {
  display: inline-block;
  padding:  .5rem;
  width:  100%;
}

.task-card-body {
  background-color: ghostwhite;
}

.task-container {
  background-color: aquamarine;
}
